.ov-section{
    margin-top: 70px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section{
    width: 100%;
    height: 60vh;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid gray;
}

.ov-section-title{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.chartBox-Title{
    width: auto;
}

.chartBox-Title h2{
    margin: 0 40px 0 20px;
}

.ev-add-button{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sub-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.events-info-box{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}