.header{
    top: 0px;
    height: 40px;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: rgba(125, 125, 125, 0.05); 
    /* border: solid 1px  rgb(0, 187, 150); */
    box-shadow: 0 4px 2px -2px rgba(0, 187, 150), 0.5;
}

a{
    color: rgb(125, 125, 125);
    text-decoration: none;
}

.header-left{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-mid{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.nav-block{
    width: 90px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-block:hover{
    border-bottom: 2px solid rgba(0, 187, 150, 1);
    color: rgba(0, 187, 150, 1);
}


.nav-block p{
    font-size: 14px;
    color: rgb(125, 125, 125);
    padding: 0;
    margin: 0;
}


.header-right{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.header-right .nav-block{
    margin-right: 20px;
}