.overview{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.upper-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.patient-info{
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.patient-info-block{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.patient-info-block p{
    margin: 10px 0 0 20px;
    font-size: 18px;
    font-weight: 550;
    color: gray;
}
.patient-info-block h4{
    margin: 10px 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 144, 248);
}
.add-buttons-area{
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.standard-add-button{
    width: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#button-info p{
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 550;
    color: gray;
    display: block;
    text-align: center;
}


.middle-area{
    margin-top: 40px;
}

.lower-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* MEDICINES LISTING */

.medicines-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.medicines-area .list-title{
    width: 90%;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.drugs-list-header{
    width: 90%;
    padding: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 144, 248);
    border-radius: 10px;
    color: white;
    font-weight: 550;
}

#days-list{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;

}
#drug-field{
    width: 180px;
    margin: 0 0 0 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}

#drug-field h4{
    font-size: 18px;
    margin: 0;
}

#ratio-field{
    width: 150px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#single-day{
    width: 4%;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.medicines-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    color: gray;
}

.medicine-row{
    width: 100%;
    background-color: rgba(0, 144, 248, 0.2);
    border-radius: 10px;
    margin: 2px 0 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
}

.medicine-row:first-child{
    margin-top: 4px;
}
.medicine-row:hover{
    background-color: rgba(0, 144, 248, 0.5);
    color: white;
    font-weight: 650;
}

.dose-fields{
    width: 4%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 144, 248, 0.2);
}

.dose-fields:nth-child(odd){
    background-color: rgba(0, 144, 248, 0.02);
}
.dose-fields:nth-child(even){
    background-color: rgba(0, 144, 248, 0.2);
}
.dose-fields p{
    margin: 0;
}



/* EVENTS LISTINGS */

/* Header */
.standard-list{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.standard-list-title{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.standard-list-title p{
    margin: 10px 0 0 0px;
    font-size: 20px;
    padding: 0;
    color: rgb(145, 155, 155);
}
.standard-list-header{
    margin-top: 15px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 144, 248);
}
.standard-list-header ul{
    width: 100%;
    margin: 0;
    padding: 10px 0;;
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.standard-list-header ul li{
    margin: 0 1.5% 0px 3.5%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#double-line{
    text-align: center;
}

/* _render  */

.lower-area{
    width: 100%;
    margin-bottom: 40px;
}

.list-title{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-title h2{
    font-size: 28px;
    font-weight: 700;
    color: rgb(0, 144, 248);
}

.list-container{
    display: flex;
    border-radius: 10px;
    width: 80%;
}
.standard-list-row{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0px;
    padding: 0;
    border-bottom: 1px solid lightgray;
}
.standard-list-row:nth-child(even){
    background-color: rgba(0, 144, 248, 0.05);
}
.standard-list-row:nth-child(odd){
    background-color: rgba(0, 144, 248, 0.1);
}
/* .standard-list-row:nth-child(even):hover{
    background-color: rgba(0, 144, 248, 0.2);
} */
.standard-list-row:nth-child(odd):hover{
    background-color: rgba(0, 144, 248, 0.4);
}
.standard-list-info-block{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5% 0px 3.5%;
}
.standard-list-info-block p{
    font-family: helvetica;
    font-size: 18px;
    padding: 0;
    margin-left: 0;
    color: gray;
}

