.overview{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.upper-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

    .patient-info{
        width: 50%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .patient-info-block{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .patient-info-block p{
        margin: 10px 0 0 20px;
        font-size: 18px;
        font-weight: 550;
        color: gray;
    }
    .patient-info-block h4{
        margin: 10px 0 0 20px;
        font-size: 18px;
        font-weight: 700;
        color: rgb(0, 144, 248);
    }
    .add-buttons-area{
        margin-top: 20px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .standard-add-button{
        width: 80%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #button-info p{
        margin: 5px 0 0 0;
        font-size: 16px;
        font-weight: 550;
        color: gray;
        display: block;
        text-align: center;
    }


.middle-area{
    margin-top: 40px;
}

.lower-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* EVENTS LISTINGS */
.standard-list{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.standard-list-title{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.standard-list-title p{
    margin: 10px 0 0 0px;
    font-size: 20px;
    padding: 0;
    color: rgb(145, 155, 155);
}
.standard-list-header{
    margin-top: 15px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 144, 248);
}
.standard-list-header ul{
    width: 100%;
    margin: 0;
    padding: 10px 0;;
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.standard-list-header ul li{
    margin: 0 2.5% 0px 2.5%;
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#double-line{
    text-align: center;
}

/* _render  */

.standard-list-row{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0px;
    padding: 0;
}
.standard-list-row:nth-child(even){
    background-color: rgba(0, 144, 248, 0.05);
}
.standard-list-row:nth-child(even):hover{
    background-color: rgba(0, 144, 248, 0.2);
}
.standard-list-info-block{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1.5% 0px 3.5%;
}
.standard-list-info-block p{
    font-family: helvetica;
    font-size: 18px;
    padding: 0;
    margin-left: 35%;
}
.standard-list-info-block-price{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5% 0px 0;
}

