
.weights-area{
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.weights-upper{
  margin: 20px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.title-row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weights-list-title{
  width: 50%;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;

}

.weights-list-title h2{
  font-size: 28px;
  font-weight: 700;
  color: rgb(0, 144, 248);
  margin: 5px;
}
.wt-add-button{
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.weight-overview-section{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.weight-chart-wrapper{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.weight-chart{
  width: 50%;
  height: 100%;
}

.edit-weight-area{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.search-weight-box{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(0, 144, 248);

}
.weight-search-header{
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(0, 144, 248);
}
.weight-search-header ul{
  width: 100%;
  margin: 0;
  padding: 10px 0;;
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight-search-header ul li{
  margin: 0 1.5% 0px 3.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fecha{
  width: 60%;
  justify-content: center;

}

#peso{
  width: 40%;
  text-align: center;

}

.weight-fn-wrapper{
  width: 100%;
  max-height: 400px;
  overflow: auto;
}
.weights-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.weights-list-row {
  margin-top: 5px;
  width: 100%;
  height: 25px;
  background-color:rgba(0, 144, 248, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.weights-list-row:hover {
  background-color:rgba(0, 144, 248, 1);
}
.weights-list-row:hover > .weights-info-block .date > p, .weights-list-row:hover > .weights-info-block > p{
  color: white;
}

/* .weights-standard-list-row:nth-child(even){
  background-color: rgba(0, 144, 248, 0.05);
}
.weights-standard-list-row:nth-child(odd){
  background-color: rgba(0, 144, 248, 0.1);
} */
/* .weights-standard-list-row:nth-child(even):hover{
  background-color: rgba(0, 144, 248, 0.2);
}
.weights-standard-list-row:nth-child(odd):hover{
  background-color: rgba(0, 144, 248, 0.4);
} */

.weights-info-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 0;
}
.date{
  width: 60%;
}
.weights-info-block p {
  margin: 0 0 0 20px;
  text-align: center;
}

