
.ev-stats{
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;

}

.ev-stats-graph{
  width: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 10px;

}