
/* MEDICINES LISTING */


.med-over-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.medicines-list-area{
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}


.upper{
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-items: flex-start;
  align-items: center;

}
.list-title{
  width: 50%;
  display: flex;
  justify-items: flex-start;
  align-items: center;

}
.med-add-button{
  width: 50%;
  margin: 0 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#button-info p{
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: 550;
  color: gray;
  display: block;
  text-align: center;
}


.drugs-list-header{
  width: 90%;
  padding: 0;
  margin-top: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 144, 248);
  border-radius: 10px;
  color: white;
  font-weight: 550;
}

#days-list{
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;

}
#drug-field{
  width: 180px;
  margin: 0 0 0 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

#drug-field h4{
  font-size: 18px;
  margin: 0;
}

#ratio-field{
  width: 150px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.single-day{
  width: 4%;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.medicines-container{
  display: flex;
  flex-direction: row;
  width: 90%;
  color: gray;
}

.medicine-row{
  width: 100%;
  background-color: rgba(0, 144, 248, 0.2);
  border-radius: 10px;
  margin: 2px 0 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: gray;
}

.medicine-row:first-child{
  margin-top: 4px;
}
.medicine-row:hover{
  background-color: rgba(0, 144, 248, 0.5);
  color: white;
  font-weight: 650;
}

.dose-fields{
  width: 4%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 144, 248, 0.2);
}

.dose-fields:nth-child(odd){
  background-color: rgba(0, 144, 248, 0.02);
}
.dose-fields:nth-child(even){
  background-color: rgba(0, 144, 248, 0.2);
}
.dose-fields p{
  margin: 0;
}

/* * * * * * * * * * * * * * * * * * * *  GRAFICO * * * * * * * * * * * * * */

.regisro-med-weight{
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

.select-timeline{
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.select-timeline p{
  color: rgb(134, 134, 134);
}

.select-box{
  margin-left: 30px;
  color: rgb(134, 134, 134);
}

.rmw-graphic-big{
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.graphico{
  padding-left: 50px;
}
