
.home-title{
    width: 80%;
}

.home-title h3{
    font-size: 22px;
    color: rgb(0, 144, 248);
}

.home{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patients-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.renderFn{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.patient-container{
    width: 140px;
    height: 210px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(0, 144, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patient-container:hover{
    box-shadow: 5px 7px #888888;
}


.ptts-info-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptts-info-block p{
    color: white;
    font-weight: 600;
}

.ptts-info-block h4{
    color: white;
    font-weight: 600;
    font-size: 18px;
}
