.home{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home-upper{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-title{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.home-title h3{
    font-size: 22px;
    color: rgb(0, 144, 248);
}

.home-add-button{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.patients-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.renderFn{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
.patient-container{
    width: 210px;
    height: 140px;
    margin: 15px;
    border-radius: 10px;
    border: solid 2px rgb(0, 144, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patient-container:hover{
    box-shadow: 5px 5px rgb(187, 184, 184);
}

.new-pat-container{
    width: 210px;
    height: 140px;
    margin: 15px;
    border-radius: 10px;
    border: solid 2px rgb(0, 144, 248);
    background-color: rgb(0, 144, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ptts-info-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ptts-info-block p{
    color: rgb(0, 144, 248);
    font-weight: 600;
}

.ptts-info-block h4{
    color: white;
    font-weight: 600;
    font-size: 18px;
}
