/* EVENTS LISTINGS */


.lower-area{
    width: 100%;
    margin-bottom: 40px;
}

.list-title{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-title h2{
    font-size: 28px;
    font-weight: 700;
    color: rgb(0, 144, 248);
}

.list-container{
    display: flex;
    border-radius: 10px;
    width: 80%;
}
.standard-list-row{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0px;
    padding: 0;
    border-bottom: 1px solid lightgray;
}
.standard-list-row:nth-child(even){
    background-color: rgba(0, 144, 248, 0.05);
}
.standard-list-row:nth-child(odd){
    background-color: rgba(0, 144, 248, 0.1);
}
/* .standard-list-row:nth-child(even):hover{
    background-color: rgba(0, 144, 248, 0.2);
} */
.standard-list-row:nth-child(odd):hover{
    background-color: rgba(0, 144, 248, 0.4);
}
.standard-list-info-block{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5% 0px 3.5%;
}
.standard-list-info-block p{
    font-family: helvetica;
    font-size: 18px;
    padding: 0;
    margin-left: 0;
    color: gray;
}

