
.form-container{
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-title h2{
  color: rgb(0, 187, 150);
  font-weight: 700;
  font-size: 30px;
}

#form-format{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#input-dose-area{
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.med-input-row{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label{
  width: 200px;
  height: 60px;
  margin: 10px 20px;;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid rgba(0, 144, 248, 1); */
}

label p{
  color: rgb(75, 73, 73);
  font-size: 16px;
  margin: 0;
}

#input-date{
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

#med-input{
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

label input{
  display: block;
  width: 100%;
  color: rgb(75, 73, 73);
  text-align: center;
  border: 3px solid rgb(152, 152, 152);
}

select{
  display: block;
  width: 100%;
  background-color: white;
  text-align: center;
  border: 3px solid rgb(152, 152, 152);
}

#select-input{
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: rgb(75, 73, 73);
}

.doses-input{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.med-list-title{
  width: 100%;

}

.med-list-title h4{
  color: rgb(152, 152, 152);
  font-size: 20px;
  margin:10px 0;
}


.ul-equivalent{
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#single-day{
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(0, 187, 150);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 187, 150,0.5);
  color: white;
  padding: 0;
  margin: 0;
}
#single-day p{
  margin: 0;
  padding: 0;
}

.dose-inputs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourly-input{
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(0, 187, 150);
}

#input-dosis{
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}

.button-area{
  margin-left: 0px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  background-color: RGB(0, 85, 235);
  color: white;
  border-radius: 5px;
  padding: 15px 45px;
}
